In [1]:
import pandas as pd
import numpy as np
import os

In [16]:
filename = '/Users/zeromh/ds/datakind/dc_doh_hackathon/data/311 service requests/2014-2016 311 Data/dc_311-2014.csv'
df = pd.read_csv(filename)
df.columns = df.columns.map(lambda x: x.lower())
df.head()

,servicerequestid,servicepriority,servicecode,servicecodedescription,servicetypecode,servicetypecodedescription,serviceorderdate,serviceorderstatus,servicecallcount,agencyabbreviation,...,ward,anc,smd,district,psa,neighborhoodcluster,hotspot2006name,hotspot2005name,hotspot2004name,servicesourcecode
0,13-00301175,UNKNOWN,S0016,Alley Repair,SISYINOD,SIOD,2014-01-01T00:00:01Z,OPEN,1,DDOT,...,5,5A,5A04,FOURTH,405,20,NONE,NONE,NONE,OPEN311
1,13-00301176,UNKNOWN,S0276,Parking Meter Repair,TRAOP001,TOA,2014-01-01T00:09:16Z,CLOSED,1,DDOT,...,2,6C,6C09,FIRST,102,8,NONE,NONE,NONE,OPEN311
2,13-00301177,UNKNOWN,S0471,Vacant Lot,SWMSWEEN,Sanitation Enforcement,2014-01-01T00:15:48Z,CLOSED,1,DPW,...,6,6A,6A07,FIFTH,507,25,NONE,NONE,BENNING RD NE,PHONE
3,13-00301178,UNKNOWN,S0276,Parking Meter Repair,TRAOP001,TOA,2014-01-01T00:30:29Z,CLOSED,1,DDOT,...,2,2F,2F03,FIRST,101,8,NONE,NONE,NONE,OPEN311
4,13-00301179,UNKNOWN,S0261,Parking Enforcement,PARKENFO,Parking Enforcement,2014-01-01T00:54:57Z,CLOSED,1,DPW,...,1,1C,1C01,THIRD,303,1,NONE,NONE,NONE,PHONE

In [17]:
rat_trubs = df[df.servicecode == 'S0311']
print rat_trubs.shape
rat_trubs.head()

(2363, 36)

,servicerequestid,servicepriority,servicecode,servicecodedescription,servicetypecode,servicetypecodedescription,serviceorderdate,serviceorderstatus,servicecallcount,agencyabbreviation,...,ward,anc,smd,district,psa,neighborhoodcluster,hotspot2006name,hotspot2005name,hotspot2004name,servicesourcecode
101,14-00000069,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-01T21:20:08Z,OPEN,1,DOH,...,4,4C,4C07,FOURTH,407,18,NONE,NONE,NONE,WEB
541,14-00000509,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02T16:53:55Z,CLOSED,1,DOH,...,4,4D,4D03,FOURTH,407,18,NONE,NONE,NONE,PHONE
546,14-00000514,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02T16:56:12Z,OPEN,1,DOH,...,2,2F,2F01,THIRD,307,7,NONE,NONE,NONE,PHONE
557,14-00000525,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02T17:00:42Z,OPEN,1,DOH,...,1,1B,1B09,THIRD,302,2,NONE,NONE,NONE,PHONE
658,14-00000626,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02T18:11:37Z,OPEN,1,DOH,...,4,4D,4D01,FOURTH,403,18,NONE,NONE,NONE,PHONE

In [19]:
rat_trubs['serviceorderdate'] = pd.to_datetime(rat_trubs.serviceorderdate)
rat_trubs['week'] =  rat_trubs.serviceorderdate.dt.week
rat_trubs.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,servicerequestid,servicepriority,servicecode,servicecodedescription,servicetypecode,servicetypecodedescription,serviceorderdate,serviceorderstatus,servicecallcount,agencyabbreviation,...,anc,smd,district,psa,neighborhoodcluster,hotspot2006name,hotspot2005name,hotspot2004name,servicesourcecode,week
101,14-00000069,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-01 21:20:08,OPEN,1,DOH,...,4C,4C07,FOURTH,407,18,NONE,NONE,NONE,WEB,1
541,14-00000509,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02 16:53:55,CLOSED,1,DOH,...,4D,4D03,FOURTH,407,18,NONE,NONE,NONE,PHONE,1
546,14-00000514,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02 16:56:12,OPEN,1,DOH,...,2F,2F01,THIRD,307,7,NONE,NONE,NONE,PHONE,1
557,14-00000525,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02 17:00:42,OPEN,1,DOH,...,1B,1B09,THIRD,302,2,NONE,NONE,NONE,PHONE,1
658,14-00000626,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,2014-01-02 18:11:37,OPEN,1,DOH,...,4D,4D01,FOURTH,403,18,NONE,NONE,NONE,PHONE,1

In [21]:
rat_trubs.groupby('week').size()

week
1     23
2     28
3     41
4     18
5     27
6     32
7     13
8     28
9     37
10    20
11    43
12    22
13    28
14    44
15    56
16    60
17    79
18    53
19    73
20    57
21    51
22    39
23    80
24    62
25    65
26    68
27    44
28    55
29    57
30    74
31    69
32    75
33    67
34    60
35    57
36    49
37    59
38    67
39    57
40    49
41    42
42    40
43    44
44    55
45    31
46    41
47    23
48    20
49    31
50    20
51    19
52    11
dtype: int64

In [ ]:
rat_trubs.set_index('serviceorderdate', inplace=True)
rat_trubs.head()

,servicerequestid,servicepriority,servicecode,servicecodedescription,servicetypecode,servicetypecodedescription,serviceorderstatus,servicecallcount,agencyabbreviation,inspectionflag,...,ward,anc,smd,district,psa,neighborhoodcluster,hotspot2006name,hotspot2005name,hotspot2004name,servicesourcecode
serviceorderdate,,,,,,,,,,,,,,,,,,,,,
2014-01-01 21:20:08,14-00000069,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,OPEN,1,DOH,Y,...,4,4C,4C07,FOURTH,407,18,NONE,NONE,NONE,WEB
2014-01-02 16:53:55,14-00000509,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,CLOSED,1,DOH,Y,...,4,4D,4D03,FOURTH,407,18,NONE,NONE,NONE,PHONE
2014-01-02 16:56:12,14-00000514,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,OPEN,1,DOH,Y,...,2,2F,2F01,THIRD,307,7,NONE,NONE,NONE,PHONE
2014-01-02 17:00:42,14-00000525,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,OPEN,1,DOH,Y,...,1,1B,1B09,THIRD,302,2,NONE,NONE,NONE,PHONE
2014-01-02 18:11:37,14-00000626,UNKNOWN,S0311,Rat Abatement,DEPAHEAL,DOH,OPEN,1,DOH,Y,...,4,4D,4D01,FOURTH,403,18,NONE,NONE,NONE,PHONE